.about {
  .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    label {
      padding-left: 8px;
      font-size: 18px;
      font-weight: bold;
      color: #5f6f81;
    }
  }
  .logo {
    max-height: 100px;
  }
}
